<div class="jumbotron text-center" style="margin-bottom:0">
	<h1>Welcome to Sapient Marketplace</h1>
	<p>A place to find and keep track of Development</p>
</div>
<div class="col-sm-8">
	<h2>Marketplace</h2>
	<h5>A place for all the components </h5>

	<div>
		<div class="marketPlace"></div>
		a place to find and keep track of the solutions.
		Some of the key new features of MP include the following:
	</div>
</div>

<div class="col-sm-8">
	<h2>Environment</h2>
	<h5>A place get environmental details </h5>

	<div>
		<div class="env"></div>
		a place to find and keep track of all the environments.
	</div>
</div>
