<div class="container">
    <div class="card" style="width:400px;float:left;margin:2px;">
        <img class="card-img-top cardImage" src="/img/compo/concurrent.png" alt="Concurrency"></img>
        <div class="card-body">
            <h4 class="card-title">Concurrency Test</h4>
            <p class="card-text">A plugins to test the application concurrently</p>
            <a href="#" class="btn btn-primary">See More..</a>
        </div>
    </div>
    <div class="card" style="width:400px;float:left;margin:2px;">
        <img class="card-img-top cardImage" src="/img/compo/sso.png" alt="SSO"></img>
        <div class="card-body">
            <h4 class="card-title">Single Sign On</h4>
            <p class="card-text">Get the component for SSO</p>
            <a href="#" class="btn btn-primary">Show dependencies</a>
        </div>

    </div>
</div>